.nav_btn {
  text-align: center;
  height: 100%;
  padding: 5px;
  margin: 1vh;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.nav_btn_active {
  border-bottom: 2px solid lightgreen;
}
