.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  top: 0;
  position: sticky;
  padding: 5px 0.75% 5px 0.75%;
  background-color: whitesmoke;
  margin-bottom: 2vh;
}

.nav_btns_container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  height: 100%;
}

.rest {
  height: 100%;
  width: 100%;
  left: 0;
}

.rest_shrink {
  width: 80% !important;
}
