.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  top: 0;
  position: sticky;
  padding: 5px 0.75% 5px 0.75%;
  background-color: whitesmoke;
}

.nav_btns_container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  height: 100%;
}

.drawer_btn_container {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  width: 25%;
  height: 100%;
}
